# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Env (CRÍTICO: nunca commitear secretos)
.env
.env.local
.env.production
*.pem

# Tests / Coverage
.coverage
.coverage.*
htmlcov/
.pytest_cache/
.tox/
.nox/
coverage.xml
test_db.sqlite3

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db